.env
.last_url
.api_history.json
*.xlsx
*.csv

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build artifacts
build/
dist/

# Python cache & environment
__pycache__/
*.pyc